*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "DM Mono", monospace;
}


body{
    background-color: lightblue;
}

.wrapper{
    width: 80vmin;
    background-color: black;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 2em 1em;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}

span{
    display: block;
    text-align: center;
    font-size: 5rem;
}

button{

    display: block;
    text-align:center;
    margin: 1rem auto;
    padding:10px;
    width: 40vmin;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 600;
    background-color: rgb(255, 13, 223);
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: 1px solid yellow;
}

.jokeText{
    
    font-size: 1rem;
    color: white;
    text-align: center;
    word-wrap: break-word;
    line-height: 2.15rem;
    margin:1rem auto;
    opacity: 0;
}

.fade{
    opacity:1;
    transition: opacity 1s ease-in;
}